* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Roboto, 'Open Sans', sans-serif;
}

header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1 {
    text-align: right;
}

.btn_swimr_menu {
    float: left;
}
.add_user_wrap,
.swimrs_wrap {
    text-align: center;
}

.swimr_list_data {
    list-style-type: none;
    padding-left: 0;
}

/** hide some things **/
.add_user_wrap,
.add_record_wrap,
.hidden_wrap,
.btn_swimr_menu,
.records_wrap{
    display: none;
}

.container_wrap {
    width: 80%;
    margin: 0 auto;
}

input {
    border: 1px solid #afafaf;
    padding: 20px;
}

/** set inputs and fields to match **/
input,
button,
select {
    font-size: 15px;
    padding: 15px;
}

select {
    border: none;
    background-color: #f1f1f1;
    height: 50px;
    box-sizing: border-box;
}

button {
    border: 0;
    background: #fff;
    border: 1px solid #afafaf;
    margin-left: 2px;
    text-transform: uppercase;
}

button:hover {
    background: #afafaf;
    border: 1px solid #999;
    color: #fff;
    cursor: pointer;
}

.btn_add_user {
    cursor: pointer;
}

.records_template {
    border-bottom: solid black 1px;
    margin: 0 auto;
}

.user_template {
    margin-bottom: 5px;
}

/**TABLE styles**/

.event_table {
    width: 100%;
    margin: 20px 0 20px 0;
}

.event_table td {
    text-align: center;
    border: 1px solid #afafaf;
    box-sizing: border-box;
    padding: 10px 10px 10px 20px;
}

.event_values td:last-child {
    border: 0;
    padding: 0 !important;
    margin: 0;
    vertical-align: bottom;
}

.event_table .event_labels {
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #eaeaea;
    font-size: 13px;
}