* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

header {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.add_record_data,
.hidden_wrap,
.btn_swimr_menu {
    display: none;
}

.page_wrap {
    background-color: #016dab;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

