html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


body {
    font-family: Roboto, 'Open Sans', sans-serif;
}
.header_wrap {
    /*background-color: #607D8B;*/
    border-bottom: 3px solid #2abfd4;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
.header_wrap span {
    display: inline-block;
    border-right: 1px solid #2abfd4;
}
.header_swimpr {
    padding: 10px;
}
.login_header {
    background-color: #fff;
    border-bottom: 3px solid #2abfd4;
}
.login_header h1 {
    padding: 15px;
}
.login_header span {
    color: 	#d43f2a;
}
.gradient_wrap {
    padding: 128px;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8);
}
.landing_icon_wrap {
    text-align: center;
}
.landing_icon_data {
    display: inline-block;
    /* background-color: #cff3e5; */
    border: 1px solid #999;
    text-align: center;
    margin: 50px;
    width: 256px;
    height: 256px;
    vertical-align: middle;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
.landing_icon_data img {
    margin-top: 25%;
}

.swimr_header {
    /*background-color: #2a6ad4;*/
    background-color: #eaeaea;
}
.swimr_header h2{
    padding: 15px;
}
.wrap_header h1 {
    margin: 0;
}
.login_wrap {
    width: 512px;
    margin: auto;
}
.swimrs_wrap,
.login_wrap {
    text-align: center;
    background-color: #eaeaea;
    border: 1px solid #a9a9a9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
.new_acct_form_show,
.new_acct_form {
    margin-bottom: 20px;
    margin-top: 40px;
}
.btn_swimr_menu {
    float: left;
}
.add_swimr_wrap,
.swimrs_wrap {
    text-align: center;
}

.swimr_list_data {
    /*list-style-type: none;
    padding-left: 0;*/
    padding-bottom: 15px;
    border-bottom: 1px solid #a9a9a9;
}

/** hide some things **/
.new_acct_form,
.confirm_del_swimr,
.add_swimr_wrap,
.add_record_wrap,
.hidden_wrap,
.btn_swimr_menu,
.records_wrap{
    display: none;
}

.container_wrap {
}

input {
    border: 1px solid #afafaf;
    padding: 20px;
    display: block;
    margin: 10px auto;
}

/** set inputs and fields to match **/
input,
button,
select {
    font-size: 15px;
    padding: 15px;
}

select {
    border: none;
    background-color: #f1f1f1;
    height: 50px;
    box-sizing: border-box;
}

button {
    border: 0;
    background: #fff;
    border: 1px solid #afafaf;
    margin-left: 2px;
    text-transform: uppercase;
}

button:hover {
    background: #afafaf;
    border: 1px solid #999;
    color: #fff;
    cursor: pointer;
}

 

.btn_swimr_menu {
    background: #cbd0e4;
}

.btn_swimr_menu:hover {
    background: #9dace8;
}
.btn_add_swimr {
    margin: 20px;
}

.btn,
.btn_add_swimr,
.add_swim_record,
.btn_show_create_form {
    background: #2abfd4;
}
.btn:hover,
.btn_new_user:hover,
.btn_add_swimr:hover,
.add_swim_record:hover,
.btn_show_create_form:hover {
    background: #1d8594;
}

/** Danger Button Styling **/
.btn_show_del_swimr,
.btn_event_close,
.btn_remove_event,
.btn_del_swimr {
    background: #e4cbd7;
}

/** Danger Button Hover Styling **/
.btn_show_del_swimr:hover,
.btn_event_clost:hover,
.btn_remove_event:hover,
.btn_del_swimr:hover {
    background: #d27d90;
}
.btn_show_records {
    width: 256px;
}
.identavar {
    width: 48px;
    vertical-align: middle;
}

.fa_border {
    padding-right: 10px;
    border-right: 1px solid black;
}

.records_template {
    border-bottom: solid black 1px;
    margin: 0 auto;
}

.user_template {
    margin-bottom: 5px;
}

/**TABLE styles**/

.event_table {
    width: 100%;
    margin: 20px 0 20px 0;
}

.event_table td {
    text-align: center;
    border: 1px solid #afafaf;
    box-sizing: border-box;
    padding: 10px 10px 10px 20px;
}

.event_values td:last-child {
    border: 0;
    padding: 0 !important;
    margin: 0;
    vertical-align: bottom;
}

.event_table .event_labels {
    text-transform: uppercase;
    letter-spacing: 2px;
    background: #eaeaea;
    font-size: 13px;
}
footer {
    border-top: 1px solid #afafaf;
    text-align: center;
}
footer p {
    margin-top: 25px;
}

/** table row striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}

@media screen and (max-width: 900px) {
    .container_wrap {
        width: 100%;
    }
}
