html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.banner_swimpr {
    font-size: 3em;
    color: #f1f1f1;
}
body {
    font-family: Roboto, 'Open Sans', sans-serif;
}
.records_wrap {
    padding: 55px;
}
.events_wrap {
    margin: 25px;
}
.header_wrap {
    /*background-color: #607D8B;*/
    border-bottom: 3px solid #27a9bb;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
.header_wrap>span {
    display: inline-block;
    border-right: 1px solid #2abfd4;
}
.header_swimpr {
    padding: 10px;
}
.intro_message {
    display: none;
    background-color: #b9ecda;
    border: 1px solid #a9a9a9;
    width: 50%;
    margin: auto;
    margin-top: 15px;
    font-size: 150%;
    padding: 15px;
    color: #737373;
}

.intro_words {
    line-height: 70px;
}
.secondary_font {
    font-family: "Roboto Slab", serif;
}
.login_header {
    background-color: #fff;
    border-radius: 3px;
    border-bottom: 3px solid #2abfd4;
}
.swimr_header {
    background-color: #2abfd4;
}
.login_header > h1 {
    padding: 15px;
}
.login_error_nodata,
.new_login_error,
.login_error {
    display: none;
    color: #d43f2a;
}
.passwords_nomatch,
.passwords_match {
    display: none;
}
.passwords_nomatch,
.red_accent {
    color: 	#d43f2a;
}
.passwords_match {
    color: #2a6ad4;
}
.bottom_border {
    border-bottom: 1px solid black;
    margin: auto;
    width: 70%;
}
.gradient_wrap {
    height: 500px;
    border-radius: 0 0 10px 10px;
    text-align: center;
    padding: 30px;
    /*background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8);*/
    background: linear-gradient(141deg, #00648a 0%, #1fc8db 51%, #00648a); 
}

.subtitles {
    padding: 25px;
}
.landing_icon_wrap {
    text-align: center;
}
.landing_icon_data {
    display: inline-block;
    /* background-color: #cff3e5; */
    border: 1px solid #999;
    text-align: center;
    margin: 30px;
    padding: 15px;
    width: 230px;
    height: 230px;
    vertical-align: middle;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
.landing_icon_data img {
    margin-top: 15%;
}
.color_div1 {
    border-bottom: 10px solid #d43f2a;
}
.color_div2 {
    border-bottom: 10px solid #2a6ad4;
}
.color_div3 {
    border-bottom: 10px solid #d4942a;
}
.color_div1,
.color_div2,
.color_div3 {
    margin-top: 5px;
}
.swimr_header h2{
    padding: 15px;
}
.swimr_template {
    margin: 5px;
}
.wrap_header > h1 {
    margin: 0;
}
.login_wrap {
    border-radius: 3px;
    display: none;
    width: 512px;
    margin: auto;
}
.container_wrap,
.login_wrap {
    text-align: center;
    background-color: #eaeaea;
    border: 1px solid #a9a9a9;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
}
.new_acct_form_show{
    margin-bottom: 20px;
    margin-top: 40px;
}
.new_acct_form {
    margin-bottom: 20px;
}
.add_swimr_wrap{
    text-align: center;
    margin: 25px;
}
.container_wrap {
    width: 1024px;
    margin: 80px auto auto auto;
}
.swimr_list_data {
    /*list-style-type: none;
    padding-left: 0;*/
    padding-bottom: 15px;
    border-bottom: 1px solid #a9a9a9;
}

/** hide some things **/
.new_acct_form,
.confirm_del_swimr,
.add_swimr_wrap,
.add_record_wrap,
.hidden_wrap{
    display: none;
}


input {
    border: 1px solid #afafaf;
    padding: 20px;
    margin: 10px auto;
}

/** set inputs and fields to match **/
input,
button,
select {
    font-size: 15px;
    padding: 15px;
}

select {
    border: none;
    background-color: #f1f1f1;
    height: 50px;
    box-sizing: border-box;
}
button {
    text-transform: uppercase;
}
button:hover {
    cursor: pointer;
}
/** buttons for new or add **/
.btn_style_add {
    width: 150px;
    background-color: #17c687;
    border-radius: 2px;
    border: 1px solid #104d71;
}
.btn_style_add:hover {
    background-color: #14e298;
}

/** buttons for confirm or login **/
.btn_style_confirm {
    background-color: #2abfd4;
    width: 150px;
    border-radius: 2px;
    border: 1px solid #104d71;
}
.btn_style_confirm:hover {
    background-color: #25d6ef;
    border: 1px solid #104d71;
}
.btn_show_records {
    width: 256px;
    border-radius: 2px;
    border: 1px solid #104d71;
    background-color: #fff;
}
.btn_show_records:hover {
    background-color: #737373;
}
.btn_show_del_swimr {
    margin-left: 10px;
}
.btn_add_swimr,
.btn_new_swimr {
    width: 200px;
}
.btn_new_swimr {
    margin: 10px;
}
.btn_swimr_menu {
    float: left;
}
.btn_logout {
    float: right;
    margin: 5px;
}
.btn_add_swimr {
    margin: 20px;
}
.btn_show_create_form {
    float: right;
}
.btn_cancel {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 2px;
    width: 200px;
}
.btn_cancel:hover {
    background-color: #737373;
}
/** Danger Button Styling **/
.btn_danger {
    background-color: #d27d90;
    border: 1px solid #000;
    border-radius: 2px;
    width: 200px;
}

/** Danger Button Hover Styling **/
.btn_danger:hover {
    background: #f9829c;
}
.btn_remove_event {
    vertical-align: middle;
    margin-bottom: 20px;
}
.fa_border {
    padding-right: 10px;
    border-right: 1px solid black;
}
.fa-6 {
    font-size: 12em;
    color: #f1f1f1;
}
.confirm_del_swimr {
    margin: 0 50px 0 50px;
}
.records_template {
    border-bottom: solid black 1px;
    margin: 0 auto;
}
.delete_swimr_wrap {
    text-align: center;
}
.no_records_message {
    display: none;
    text-align: center;
}
.user_template {
    margin-bottom: 5px;
}

footer {
    border-top: 1px solid #afafaf;
    text-align: center;
}
footer p {
    margin-top: 25px;
}
.lower_footer {
    margin-top: 7em;
}
.forms_wrap {
    text-align: center;
}
/** event styles */
.event_wrap {
    border: 1px solid #104d71;
    margin: 25px 0 25px 0;
}
.event_cell {
    display: inline-block;
    width: 172px;
    background-color: #eaeaea;
    padding: 0 0px 0px 0px;
    margin: 10px 5px;
    border-radius: 4px;
}
.event_cell_title {
    background-color: #27a9bb;
}
.event_name {
    text-align: center;
    border-bottom: 1px solid #104d71;
    background-color: #e4e4e4; 
}
.event_data {
    text-align: center;
}
.event_details {
    padding: 12px;
}
.login_wrap input {
    display: block;
}
@media screen and (max-width: 1024px) {
    .container_wrap {
        width: 80%;
    }
}
@media screen and (max-width: 1105px) {
    .btn_remove_event {
        display: block;
        margin: auto;
    }
}

@media screen and (max-width: 600px) {
    .login_wrap {
        width: 100%;
    }
    .intro_message {
        width: 95%;
        font-size: 100%;
    }
    .container_wrap {
        width: 95%;
    }
    input {
        display: block;
    }
    .delete_swimr_wrap {
        padding-top: 70px;
    }
    .records_wrap {
        padding: 25px;
    }
}

@media screen and (max-width: 500px{
    
}
